<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Acerca de SIDITU</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link th:href="@{/css/mystyle.css}" rel="stylesheet">
</head>

<body class="d-flex flex-column min-vh-100">
	<div class="container my-4 flex-grow-1">
		<h1 class="mb-4 text-center">Acerca de SIDITU</h1>

		<div class="content">
			<h2>Introducción</h2>
			<p>
				"Sistema de Distribución de Turnos" es una aplicación que permite distribuir los
				turnos de manera eficiente, equitativa y con un toque de emoción, sin necesidad de almacenar datos ni
				estar vinculada a una base de datos. Este documento ofrece una descripción detallada del funcionamiento
				de la aplicación, sus características principales y los beneficios que aporta tanto a nivel organizativo
				como a nivel de motivación del personal.
			</p>

			<h2>Funcionamiento de la Aplicación</h2>
			<h3>1. Vista Inicial y Selección del Turno</h3>
			<img th:src="@{/img/Image715.png}" class="img-fluid my-3" alt="Vista inicial y selección del turno">
			<p>
				Al acceder a la aplicación, el usuario es recibido por una interfaz sencilla y clara. La pantalla
				principal muestra de inmediato el turno en el que se encuentra el usuario, ya sea el turno de mañana o
				de noche. Esta información es clave, ya que determinará la configuración de los turnos que se van a
				generar.
			</p>
			<p>
				La interfaz muestra un área de reloj que indica de manera visual en qué turno estamos trabajando. Este
				elemento informativo sirve como un recordatorio constante del turno actual,
				ayudando a evitar confusiones o errores al momento de realizar la distribución de turnos.
			</p>

			<h3>2. Selección del Número de Personas</h3>
			<p>
				Uno de los primeros pasos que debe realizar el usuario es indicar el número de personas que participarán
				en la distribución de turnos. Este dato se introduce a través de un campo de entrada numérico (input)
				que, por diseño, está limitado a un mínimo de 5 personas. La razón de este mínimo es operativa: un turno
				de quirófano requiere de un equipo básico que garantice el funcionamiento continuo del servicio durante
				todo el turno además de otros puestos a cubrir.
			</p>
			<p>
				El usuario debe tener en cuenta que este número debe reflejar la cantidad de personal
				disponible, y también asegurar que al menos una de estas personas esté dispuesta y capacitada para
				desempeñarse en el quirófano. Este requisito es vital y está estrictamente implementado en la
				aplicación: si no se selecciona al menos una persona para quirófano, la aplicación no permitirá avanzar
				y mostrará un mensaje de error, destacando la importancia de esta selección.
			</p>

			<h3>3. Selección del Personal para Quirófano</h3>
			<p>
				Cada persona registrada en la lista debe ser asignada a una función específica. Dentro de la interfaz de
				la aplicación, cada nombre tiene asociado un checkbox que permite indicar si esa persona está disponible
				para trabajar en el quirófano. Este es un paso crucial, ya que, sin al menos una persona marcada como
				disponible para quirófano, no se puede proceder con la generación de los turnos.
			</p>
			<p>
				Este sistema de selección garantiza que siempre haya personal disponible para las tareas más críticas,
				evitando situaciones en las que el quirófano podría quedar desatendido. Además, esta funcionalidad añade
				un elemento de decisión para el usuario, que debe considerar cuidadosamente quiénes estarán disponibles
				para este rol esencial.
			</p>

			<h3>4. Opción de Subdivisión de Turnos</h3>
			<p>
				La aplicación ofrece una opción adicional para la distribución de turnos: la posibilidad de
				subdividirlos en mitades. Por defecto, un turno se distribuye de manera uniforme entre todos los
				participantes. Por ejemplo, si hay 6 personas y el turno dura 12 horas, cada persona tendría asignadas 2
				horas de trabajo continuo. Sin embargo, con la opción de subdivisión activada, el turno se divide en dos
				rondas de 6 horas cada una, lo que implica que cada persona realiza dos bloques de trabajo la mitad de cortos.
			</p>
			<p>
				Este sistema de subdivisión puede ser especialmente útil en situaciones donde se desea mantener a las
				personas frescas y alertas durante todo el turno, evitando la fatiga asociada con períodos largos de
				trabajo continuo o en puestos donde uno no se sentiría realizado. Además, la subdivisión introduce una 
				mayor variabilidad en los horarios de los empleados, lo que puede contribuir a una gestión más flexible 
				y dinámica de los recursos humanos.
			</p>

			<h3>5. Generación de Turnos Aleatorios</h3>
			<p>
				Una de las características más atractivas de la aplicación es la posibilidad de generar turnos de manera
				aleatoria. Esta funcionalidad no solo cumple con el objetivo operativo de asignar turnos, sino que
				también añade un elemento de sorpresa y emoción para el equipo. Cada día, los empleados pueden
				experimentar la "lotería" de ver qué turno les ha tocado, lo que puede introducir un elemento de juego
				en la rutina diaria.
			</p>
			<p>
				Esta aleatoriedad, sin embargo, no es completamente azarosa. La aplicación garantiza que todos los
				turnos sean asignados equitativamente, considerando las preferencias y restricciones establecidas por el
				usuario (como la disponibilidad para quirófano y la opción de subdivisión). De esta manera, se asegura
				un reparto justo y equilibrado, mientras se mantiene la emoción de la incertidumbre en la asignación de
				turnos.
			</p>

			<h3>6. Visualización de Turnos Generados</h3>
			<p>
				Una vez que se han ingresado todos los datos y se ha configurado la distribución según las preferencias
				del usuario, la aplicación procede a generar los turnos. La siguiente pantalla muestra un resumen
				detallado de los turnos generados. Aquí, el usuario puede ver claramente qué personas están asignadas a
				cada bloque de tiempo y, de manera destacada, quién ha sido asignado al quirófano.
			</p>
			<img th:src="@{/img/Image717.png}" class="img-fluid my-3" alt="Visualización de turnos generados">
			<p>
				En esta vista, se presenta un desplegable que inicialmente está cerrado. Este pequeño detalle no es solo
				estético, sino que está diseñado para mantener un nivel de suspense y emoción hasta el momento de
				abrirlo. Al abrir el desplegable, se revela la información sobre quién ha sido seleccionado para
				quirófano, creando un momento de expectativa que puede hacer más llevadero el proceso de asignación de
				turnos.
			</p>
			<p>
				Además de la asignación de quirófano, la pantalla también muestra las asignaciones generales a otros puestos,
				organizadas en "ruedas" dependiendo de si se ha optado por la subdivisión del turno o no. Cada rueda
				representa un ciclo de trabajo completo, mostrando el nombre del empleado y las horas específicas que le
				han sido asignadas.
			</p>

			<h3>7. Características Específicas: Limitación de Generación de Turnos</h3>
			
			<p>
				Una de las particularidades de la aplicación es que solo permite la generación de turnos una vez por
				turno (mañana o noche). Esto significa que, una vez que se han generado los turnos para un período
				específico, la aplicación bloquea la posibilidad de volver a generarlos, evitando así abusos del sistema
				y asegurando que la asignación realizada sea definitiva para ese turno.
			</p>
			<img th:src="@{/img/Image716.png}" class="img-fluid my-3" alt="Selección del número de personas">
			<p>
				Este bloqueo está gestionado por una entidad interna llamada "último turno", que almacena temporalmente
				la información de la última asignación realizada. Si se intenta generar nuevamente los turnos durante el
				mismo período, la aplicación mostrará un mensaje de error, indicando que ya se ha realizado una
				asignación y que esta no se puede repetir. Esta funcionalidad previene que un usuario descontento con su
				asignación intente repetir el proceso para obtener un resultado más favorable.
			</p>

			<h3>8. Panel de Administración</h3>
			<p>
				Para casos excepcionales donde sea necesario realizar un cambio en la asignación de turnos, la
				aplicación cuenta con un panel de administración. Este panel es accesible únicamente mediante una
				contraseña, lo que asegura que solo usuarios autorizados puedan realizar cambios en la distribución de
				turnos ya generada.
			</p>
			<p>
				Dentro del panel de administración, el administrador tiene la opción de "reiniciar" el turno, lo que
				básicamente elimina la información almacenada en la entidad "último turno" y permite que se genere una
				nueva distribución para el mismo período. Esta opción es una especie de "puerta trasera" que ofrece
				flexibilidad en situaciones donde, por alguna razón válida, es necesario rehacer la asignación de
				turnos.
			</p>
			<img th:src="@{/img/Image718.png}" class="img-fluid my-3" alt="Panel de administración">
			<p>
				El panel de administración es sencillo y directo, diseñado para ofrecer solo las funciones necesarias
				sin complicar el proceso. La existencia de este panel, aunque oculta para el usuario promedio, es
				fundamental para la gestión avanzada y la resolución de problemas imprevistos que puedan surgir en la
				operación diaria.
			</p>

			<h2>Beneficios y Ventajas de la Aplicación</h2>
			<h3>1. Simplicidad y Facilidad de Uso</h3>
			<p>
				La aplicación ha sido diseñada pensando en la simplicidad y la facilidad de uso. La interfaz es
				intuitiva, lo que significa que los usuarios pueden empezar a trabajar con ella sin necesidad de un
				entrenamiento extenso. Los formularios son claros y concisos, y las opciones disponibles están
				directamente relacionadas con las necesidades operativas del turno, evitando la sobrecarga de
				información y la confusión.
			</p>

			<h3>2. No Requiere Almacenamiento de Datos</h3>
			<p>
				Uno de los aspectos más destacados de la aplicación es que no almacena información de forma permanente.
				A diferencia de otras soluciones que pueden requerir bases de datos complejas y mecanismos de
				almacenamiento persistente, esta aplicación se limita a procesar los datos en tiempo real y mostrar los
				resultados. Una vez que se cierra la sesión, la información se pierde, lo que también puede ser visto
				como una ventaja en términos de privacidad y seguridad.
			</p>

			<h3>3. Flexibilidad en la Distribución de Turnos</h3>
			<p>
				La posibilidad de subdividir los turnos y de generar asignaciones aleatorias añade una capa de
				flexibilidad que no se encuentra en muchos sistemas tradicionales de gestión de turnos. Esta
				flexibilidad permite a los administradores adaptarse a diferentes situaciones operativas, como la
				necesidad de mantener al personal fresco o de añadir un elemento de emoción al proceso diario.
			</p>

			<h3>4. Prevención de Abusos</h3>
			<p>
				La implementación de un sistema que impide la generación repetida de turnos durante el mismo período es
				un mecanismo de control que asegura la integridad del proceso. Al evitar que los usuarios rehagan la
				asignación de turnos de manera arbitraria, la aplicación garantiza que el proceso se mantenga justo y
				equitativo para todos los participantes.
			</p>

			<h3>5. Herramientas de Administración</h3>
			<p>
				El panel de administración ofrece una capa adicional de control para los usuarios autorizados. Este
				panel no solo permite resolver situaciones excepcionales, sino que también proporciona un mecanismo para
				corregir errores o ajustes necesarios de manera controlada.
			</p>

			<h2>Conclusión</h2>
			<p>
				La aplicación de gestión de turnos desarrollada es una herramienta fundamental para cualquier entorno
				hospitalario que desee mejorar la organización y distribución de sus recursos humanos de manera
				eficiente y con un toque de innovación. Su simplicidad, combinada con características avanzadas como la
				subdivisión de turnos, la generación aleatoria y las opciones de administración, la convierten en una
				solución ideal para cualquier institución que valore tanto la operatividad como la motivación de su
				personal.
			</p>
			<p>
				El diseño de la aplicación, que evita la necesidad de almacenamiento de datos y garantiza la equidad en
				la asignación de turnos, asegura que cada día sea una nueva oportunidad para que el equipo enfrente sus
				responsabilidades de manera justa y con un toque de emoción. Esta combinación de factores hace que la
				aplicación no solo sea útil, sino también atractiva para su uso continuo, convirtiéndola en una parte
				integral del proceso diario de gestión de turnos.
			</p>
			<p>
				La aplicación no solo facilita la gestión diaria de los turnos, sino que también introduce elementos que
				pueden mejorar la moral del equipo, al tiempo que asegura que se cumplan todos los requisitos operativos
				críticos, como la disponibilidad de personal para quirófano. Es, en definitiva, una herramienta diseñada
				para el éxito en un entorno tan demandante como el hospitalario.
			</p>
		</div>
	</div>

	<!-- Incluir el fragmento del footer -->
	<div th:replace="~{fragments/footer :: footer}"></div>

	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
		integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
		integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
		crossorigin="anonymous"></script>
</body>

</html>